<?xml version="1.0" encoding="utf-8" ?>
<LinearLayout
	xmlns:android="http://schemas.android.com/apk/res/android"
	android:layout_width="match_parent"
	android:layout_height="wrap_content" >
    <!-- https://go.microsoft.com/fwlink/?linkid=2124038
    <issue id="HardcodedText" severity="error">
        <ignore path="Resources\layout\content_main.xml" />
    </issue>
    -->
</LinearLayout>
